@{
    ViewData["Title"] = "Успішна реєстрація";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Реєстрація успішна!</h1>
<p>Дякуємо за вашу заявку на консультацію. Ми з вами зв'яжемося найближчим часом.</p>

